.container
  .row
    .col-md-6
      .page-header
        h4 {{ 'EDITING_EMPLOYE_WITH_ID' | translate:{ id:vm.employee.id } }}
        
      form(ng-submit='vm.updateEmployeeHandler()')
        .form-group
          label(for='name') {{ 'EMPLOYEE_NAME' | translate }}
          input#name.form-control(
            type='text', 
            placeholder="{{ 'EMPLOYEE_NAME_EXAMPLE' | translate }}",
            ng-model='vm.employee.name',
            ng-required='true'
          )

        .form-group
          label(for='email') {{ 'EMPLOYEE_EMAIL' | translate }}
          input#email.form-control(
            type='email', 
            placeholder="{{ 'EMPLOYEE_EMAIL_EXAMPLE' | translate }}",
            ng-model='vm.employee.email'
          )

        .form-group
          label(for='phone') {{ 'EMPLOYEE_PHONE' | translate }}
          input#phone.form-control(
            type='text', 
            placeholder="{{ 'EMPLOYEE_PHONE_EXAMPLE' | translate }}",
            ng-model='vm.employee.phone'
          )

        .form-group
          label(for='salary') {{ 'EMPLOYEE_SALARY' | translate }}
          input#salary.form-control(
            type='number', 
            placeholder="{{ 'EMPLOYEE_SALARY_EXAMPLE' | translate }}",
            min='0', 
            max='2147483647',
            ng-model='vm.employee.salary',
            ng-required='true'
          )

        .checkbox
          label
            input(
              type='checkbox',
              ng-model='vm.employee.status'
            )
            | 
            | {{ 'EMPLOYEE_IS_LOOKING_FOR_A_JOB' | translate }}

        button.btn.btn-default(type='submit') {{ 'SAVE' | translate }}


    .col-md-6
      .page-header
        h4 {{ 'SKILLS' | translate }}

      p.text-warning {{ 'SKILL_ADDING_WARNING' | translate }}

      .checkbox(ng-repeat='skill in vm.skills')
        label
          input(
            type='checkbox',
            ng-model='skill.selected',
            ng-change='vm.skillSeletionChangeHandler(skill)'
          )
          | 
          | {{ skill.name }}

      a(
        href='#',
        ng-click='vm.createSkillHandler()'
      ) {{ 'ADD_ONE_MORE_SKILL' | translate }}

