.container
  .row
    .col-md-6
      .page-header
        h4 {{ 'EDITING_VACANCY_WITH_ID' | translate:{ id:vm.vacancy.id } }}
        
      form(ng-submit='vm.updateVacancyHandler()')
        .form-group
          label(for='title') {{ 'VACANCY_TITLE' | translate }}
          input#title.form-control(
            type='text', 
            placeholder="{{ 'VACANCY_TITLE_EXAMPLE' | translate }}",
            ng-model='vm.vacancy.title',
            ng-required='true'
          )

        .form-group
          label(for='contacts') {{ 'VACANCY_CONTACTS' | translate }}
          input#contacts.form-control(
            type='text', 
            placeholder="{{ 'VACANCY_CONTACTS_EXAMPLE' | translate }}",
            ng-model='vm.vacancy.contacts',
            ng-required='true'
          )

        .form-group
          label(for='salary') {{ 'VACANCY_SALARY' | translate }}
          input#salary.form-control(
            type='number', 
            placeholder="{{ 'VACANCY_SALARY_EXAMPLE' | translate }}", 
            min='0', 
            max='2147483647',
            ng-model='vm.vacancy.salary',
            ng-required='true'
          )

        .form-group
          label(for='expired_at') {{ 'VACANCY_EXPIRED_AT' | translate }}
          input#expired_at.form-control(
            type='date', 
            placeholder="{{ 'VACANCY_EXPIRED_AT_EXAMPLE' | translate }}", 
            ng-model='vm.vacancy.expired_at',
            ng-required='true'
          )

        button.btn.btn-default(type='submit') {{ 'SAVE' | translate }}


    .col-md-6
      .page-header
        h4 {{ 'SKILLS' | translate }}

      p.text-warning {{ 'SKILL_ADDING_WARNING' | translate }}

      .checkbox(ng-repeat='skill in vm.skills')
        label
          input(
            type='checkbox',
            ng-model='skill.selected',
            ng-change='vm.skillSeletionChangeHandler(skill)'
          )
          | 
          | {{ skill.name }}

      a(
        href='#',
        ng-click='vm.createSkillHandler()'
      ) {{ 'ADD_ONE_MORE_SKILL' | translate }}