.modal-header
  h4.modal-title {{ 'NEW_SKILL' | translate }}

form(ng-submit='vm.createSkillHandler()')
  .modal-body
    .form-group
      label(for='name') {{ 'SKILL_NAME' | translate }}
      input#name.form-control(
        type='text', 
        placeholder="{{ 'SKILL_EXAMPLE' | translate }}",
        ng-model='vm.skill.name',
        ng-required='true'
      )

  .modal-footer
    button.btn.btn-link(
      type='button',
      ng-click='vm.cancelHandler()'
    ) {{ 'CANCEL' | translate }}
    button.btn.btn-default(type='submit') {{ 'SAVE' | translate }}